@import "/src/styles/variables.scss";

.section {
  display: grid;
  grid-template-columns: 50% 50%;
  //   grid-template-rows: min-content, minmax(200px, 300px);
  background-color: #ffd1b9;

  & > div {
    padding: 20px 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {
      font-size: 40px;
      margin-bottom: 12px;
      //   font-weight: normal;
      //   font-family: "Times New Roman", Times, serif;
    }

    p {
      font-size: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    &:first-child {
      flex-direction: row;
    }
  }

  &__main {
    grid-column: 1/3;
    padding: $padding1 !important;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: space-between;
    height: 450px;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px 0 20px;

      h1 {
        font-size: 80px;
      }

      &__bottom {
        max-width: 70%;
        p {
          margin-bottom: 10px;
        }

        &__button {
          font-size: 18px;
        }
      }
    }
    &__img {
      width: 400px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        width: auto;
        height: auto;
      }
    }
  }
}
