.navigtion {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 20px;
  &__links {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    font-size: 15px;
  }
  &__dropdown {
    display: none;
    &__links{
      &__link{
        width: 100px;
      }
    }
  }
}
@media (max-width: 730px) {
  .navigtion {
    &__links {
      display: none;
    }
    &__dropdown {
      display: block;
    }
  }
}
