* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.membership-center {
  text-align: center;
}
.paddings {
  padding: 20px 40px;
}

.default-font-sizes h1 {
  font-size: 62px;
}
