// srceen sizes
$xxl: 1920px;
$xl: 1285px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 375px;

// spaces
$padding1: 30px 40px;
$padding2: 20px;
$padding3: 70px 20px;

// font sizes
$h1: 72px;
$p1: 20px;
$p2: 18px;

// colors
$creatorsPageMain: rgb(242, 77, 46);
