@import "/src/styles/variables.scss";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 70px;
  transition: 0.3s;
  width: 13%;
  img {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 800px) {
  .logo {
    width: 55%;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 45%;
  }
}
@media (max-width: $sm) {
  .logo {
    img {
      width: 70%;
    }
  }
}
