.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.3s;

  img {
  }

  h2 {
    font-weight: 200;
    margin-left: -15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
