@import "/src/styles/variables.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding1;
  position: relative;
  background-color: #bcdfff;
  height: 400px;

  h1 {
    width: 75%;
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif;
    line-height: 52px;
    font-weight: 500;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: $md) {
  .section {
    h1 {
      font-size: 52px;
    }
  }
}

@media (max-width: $sm) {
  .section {
    border: 1px solid black;
    border-right: 0;
    border-left: 0;
    height: 300px;
    h1 {
      font-size: 52px;
      width: 100%;
    }

    img {
      display: none;
    }
  }
}

@media (max-width: $xs) {
  .section {
    height: 240px;
    h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }
}
