@import "/src//styles/variables.scss";

.showcase {
  padding: 100px 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  justify-content: center;
  position: relative;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  img {
    fill: red;
  }

  h1 {
    font-size: 100px;
    font-weight: normal;
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    max-width: 50%;
  }

  .button {
    font-size: 18px !important;
  }
}

@media (max-width: $md) {
  .showcase {
    padding: 160px 40px 100px;
    h1 {
      font-size: 62px;
    }
    p {
      max-width: 80%;
    }
  }
}

@media (max-width: $sm) {
  .showcase {
    padding: 160px 40px 100px;
    h1 {
      font-size: 52px;
    }
    p {
      font-size: 16px;
    }

    .button {
      font-size: 16px !important;
    }
  }
}

@media (max-width: $xs) {
  .showcase {
    h1 {
      font-size: 32px;
      margin-bottom: 12px;
    }
    p {
      max-width: none;
      font-size: 16px;
    }

    .button {
      font-size: 16px !important;
    }
  }
}
